<b><%= @service.title %></b>
<p><%= @service.description %></p>
<ul>
  <li><%= link_to "Редактировать", edit_service_path(@service) %></li>
  <li><%= link_to "Удалить", @service, :method => "delete", 
  :confirm => "Вы уверены?" %></li>
</ul>
<br /><br />
<%= link_to "Все услуги", services_path %> 