<div class="show-client">
  <h1><%= @client.title %></h1>
  <%= image_tag @client.logo.url(:thumb), :class=> "image"%>
  <%= @client.description %>
  <%= link_to edit_icon, edit_admin_client_path(@client) %>
  <%= link_to delete_icon, admin_client_path(@client), :method => :destroy, :confirm => "Вы уверены?"%>
</div>


