<%= form_for([:admin, @service], :html => { :multipart => true }) do |f| %>
  <%= errors_for_object(@service) %>
  <div class="field">
    <%= f.label :title, "Название:" %>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :parent_id, "Родительская услуга:" %>
    <%= f.collection_select :parent_id, Service.mains(:order => :title),
        :id, :title, :include_blank => "Нет родительской" %>
  </div>
  <div class="field">
    <%= f.label :short_description, "Краткое описание:" %>
    <%= f.text_area :short_description %>
  </div>
  <div class="field">
    <%= f.label :description, "Описание:" %>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :photo, "Фотография:" %>
    <%= f.file_field :photo %>
  </div>
  <div class="submit">
    <%= f.submit @service.button_value %>
  </div>
<% end %>