<h1>Авторизация</h1>

<%= form_tag admin_sessions_path do %>
  <p>
    <%= label_tag :email, "Email:" %><br />
    <%= text_field_tag :email, params[:email] %>
  </p>
  <p>
    <%= label_tag :password, "Пароль:" %><br />
    <%= password_field_tag :password %>
  </p>
  <p class="button"><%= submit_tag %></p>
<% end %>