<ul class="jobs">
  <%= notice_msg(flash[:notice]) %>
  <% @jobs.each do |j| %>
    <li class="job">
      <h1><%= link_to j.title, j %></h1>
      <p class="image"><%= image_tag j.image.url(:thumb) %></p>
      <div class="actions">
        <%= link_to eye_icon, admin_job_path(j) %>
        <%= link_to edit_icon, edit_admin_job_path(j) %>
        <%= link_to delete_icon, admin_job_path(j), :confirm => "Уверены?", :method => :delete %>
      </div>
    </li>
  <% end %>
</ul>
