<%= form_for @user do |f| %>
  <p>
    <%= f.label :email, "Email" %><br />
    <%= f.text_field :email %>
  </p>
  <p>
    <%= f.label :password, "Пароль" %><br />
    <%= f.password_field :password %>
  </p>
  <p>
    <%= f.label :password_confirmation, "Подтверждение пароля" %><br />
    <%= f.password_field :password_confirmation %>
  </p>
  <p>
    <%= f.submit @user.button_value %>
  </p>
<% end %>