<div id="footer">
  <div id="mainfooter">
    <div class="footer-contacts">
      <p>
        e-mail: <a href="mailto:ivan.sherbakov@bk.ru">ivan.sherbakov@bk.ru</a>
      </p>
      <p>
        тел: +7 (965) 244-3333
      </p>
    </div>
    <div class="center-footer">
      <ul>
        <li><%= link_to "ГЛАВНАЯ", root_path %></li>
        <li><%= link_to "УСЛУГИ", services_path %></li>
        <li><%= link_to "ЦЕНЫ", prices_path  %></li>
        <li><%= link_to "КЛИЕНТЫ", clients_path  %></li>    
        <li><%= link_to "КОНТАКТЫ", contacts_path %></li>
      </ul>
      <div class="copy">
        <p>&copy; 2012 ООО «Баннер-проф» Проектирование, производство, монтаж наружной рекламы</p>
        <h3>Все права защищены</h3>
      </div>
    </div>
    <div class="counters">
      
    </div>
  </div>
</div>