    <div id="main-menu">
      <ul>
        <li id="first"><%= link_to "ГЛАВНАЯ", root_path %></li>
        <li><%= link_to "УСЛУГИ", services_path %></li>
        <li><%= link_to "ЦЕНЫ", prices_path  %></li>
        <li><%= link_to "КЛИЕНТЫ", clients_path  %></li>
        <li><%= link_to "КОНТАКТЫ", contacts_path %></li>
      </ul>
      <div id="search">
        <input type="text" name="search" placeholder="Поиск">
      </div>
    </div>
