<div id="our-works">
  <div id="our-works-header">
    <h1>Наши работы</h1>
    <div id="arrows-works">
      <a href="#"><%= link_to image_tag('arrow-work-left.png'),"#" %></a>
      <a href="#"><%= link_to image_tag('arrow-work-right.png'),"#" %></a>
    </div>
  </div>
  <ul class="img-works">
    <li><a href="#"><%= link_to image_tag('hotel-works.png'),"#" %></a></li>
    <li><a href="#"><%= link_to image_tag('ostin-works.png'),"#" %></a></li>
    <li><a href="#"><%= link_to image_tag('three-works.png'),"#" %></a></li>
    <li><a href="#"><%= link_to image_tag('mone-works.png'),"#" %></a></li>
    <li><a href="#"><%= link_to image_tag('german-works.png'),"#" %></a></li>
  </ul>
</div>
