<div id="sidebar">
  <div id="services">
    <h1 class="title-services">Услуги</h1>
    <ul>
      <% @services.each do |s| %>
        <li><%= link_to s.title, s %></li>
      <% end %>
    </ul>
  </div>
  <div id="orderphone">
    <div class="block-online">
      <div class="online-telephone">
        <a href="#">
          <%= link_to image_tag('button-order.png'),"#" %>
        </a>
      </div>
      <div class="faq-online">
        <a href="#">
          <%= link_to image_tag('button-faq.png'),"#" %>
        </a>
      </div>
    </div>
    <div class="order-description">
            При заказе профессиональной рекламы Вы не
            только получаете скидку, но и консультацию 
            наших специалистов дизайнеров, которые ответят
            на все <a href="#">Ваши вопросы</a> бесплатно!
    </div>
  </div>
  <ul id="social-links">
    <li>
      <a href="#">
        <%= link_to image_tag('twitter-icon.png'),"#" %>
      </a>
    </li>
    <li>
      <a href="#">
        <%= link_to image_tag('facebook-icon.png'),"#" %>
      </a>
    </li>
    <li>
      <a href="#">
        <%= link_to image_tag('rss-icon.png'),"#" %>
      </a>
    </li>
  </ul>
  <div class="clear"></div>
</div>
