<!DOCTYPE HTML>
<html lang="en-US">
<head>
  <%= render 'layouts/head' %>
</head>
<body>
  <div id="wrapper">
    <%= render 'layouts/header' %>
    <%= render 'layouts/mainmenu' %>
    <%= render 'layouts/slider' %>
    
    <div id="main-content">
      <%= yield %>
      <!-- our works   -->
        <%= render 'layouts/our-works' %>
      <!-- end our workds -->
      
      <!-- sidebar -->
        <%= render 'layouts/sidebar' %>
      <!-- end sidebar -->
      
      <!-- content -->
      <div id="content">
        <%= render 'layouts/content' %>   
        <div id="regions">
          <div class="list-regions">
            <h1 class="title-regions">Мы работаем с регионами Московской области</h1>
            <ul>
              <li>
                <div><a href="#">Апрелевка</a></div>
                <div><a href="#">Балашиха</a></div>
                <div><a href="#">Бронницы</a></div>
                <div><a href="#">Верея</a></div>
                <div><a href="#">Видное</a></div>
                <div><a href="#">Волоколамск</a></div>
                <div><a href="#">Воскресенск</a></div>
                <div><a href="#">Высоковск</a></div>
                <div><a href="#">Дедовск</a></div>
                <div><a href="#">Дзерджинский</a></div>
                <div><a href="#">Дмитров</a></div>
                <div><a href="#">Долгопрудный</a></div>
                <div><a href="#">Домодедово</a></div>
              </li>
              <li>
                <div><a href="#">Коломна</a></div>
                <div><a href="#">Королев</a></div>
                <div><a href="#">Красноармейск</a></div>
                <div><a href="#">Красногорск</a></div>
                <div><a href="#">Краснозаводск</a></div>
                <div><a href="#">Краснознаменск</a></div>
                <div><a href="#">Куровское</a></div>
                <div><a href="#">Ликино-Дулево</a></div>
                <div><a href="#">Лобня</a></div>
                <div><a href="#">Лосино-Петровский</a></div>
                <div><a href="#">Луховицы</a></div>
                <div><a href="#">Лыткарино</a></div>
                <div><a href="#">Люберцы</a></div>
              </li>
              <li>
                <div><a href="#">Пущино</a></div>
                <div><a href="#">Раменское</a></div>
                <div><a href="#">Реутов</a></div>
                <div><a href="#">Рошаль</a></div>
                <div><a href="#">Руза</a></div>
                <div><a href="#">Сергиев Посад</a></div>
                <div><a href="#">Серпухов</a></div>
                <div><a href="#">Солнечногорск</a></div>
                <div><a href="#">Ступино</a></div>
                <div><a href="#">Сходня</a></div>
                <div><a href="#">Талдом</a></div>
                <div><a href="#">Троицк</a></div>
                <div><a href="#">Фрязино</a></div>
              </li>
            </ul>
          </div>
          <div class="map-regions">
            
          </div>
          <div class="clear"></div>
        </div>
      </div>
      <!-- end content -->
      <div class="clear"></div>
    </div>
    <!-- footer -->
    <%= render 'layouts/footer' %>   
  </div>
</body>
</html>
